<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="POO" connectionString="Data Source=45.147.97.229;Initial Catalog=projetPOO;User ID=sa;Password=fFf4k5GPCrS88E3nLiLt;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
